---
import Orange from '../assets/Orange.jpg';
import { Image } from 'astro:assets';
---


<section id="sbs-2348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">New Albany's Specialty Coffee Destination</h2>
            <p class="cs-text">
                At Bloom, we strive to cultivate connection and community through thoughtfully crafted coffee and elevated hospitality. We aim to serve our community with consistency, care, and creativity - offering curated, unique coffee experiences that show our passion for those around us, and the coffee itself.
                </p>
                <p class="cs-text">When you come in our doors, you can expect thoughtful service, a welcoming environment, and an accessible approach to specialty coffee.
                    </p>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" src={Orange}>
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" src={Orange}>
            <Image loading="lazy" decoding="async" src={Orange} alt="Bloom Logo" width="1280" height="568">
        </picture>
    </div>
</section>
<style>
@media only screen and (min-width: 0rem) {
  #sbs-2348 {
    padding: var(--sectionPadding);
    /* 100px - 200px */
    padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2348 .cs-container {
    width: 100%;
    max-width: 112.5rem;
    margin: auto;
    margin-top: 15vh;
    /* 16px - 80px */
    padding: clamp(1rem, 5vw, 5rem);
    box-sizing: border-box;
    background-color: #F1EEEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2348 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 47.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  #sbs-2348 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2348 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2348 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbs-2348 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2348 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2348 .cs-picture {
    width: 100%;
    height: 95vw;
    max-height: 28.125rem;
    display: block;
    order: -1;
    position: relative;
    z-index: 1;
  }
  #sbs-2348 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2348 .cs-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  #sbs-2348 .cs-content {
    /* 48px - 80px */
    padding: clamp(3rem, 6vw, 5rem) 0;
  }
  #sbs-2348 .cs-picture {
    width: 43vw;
    height: auto;
    max-height: 100%;
    max-width: 50.625rem;
    flex: none;
  }
}
</style>